@tailwind base;
@tailwind components;
@tailwind
base;

* {
    font-family:"DM Sans", sans-serif;
  font-optical-sizing: auto;

}



main {
    min-height: auto;
    max-width: auto;
    margin: auto;
    background-color: #e0f3d3;
   
    
    
}